fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
transformers==4.34.0
tokenizers>=0.14,<0.15

torch==2.8.0
Pillow==10.4.0
requests==2.32.3
python-multipart==0.0.9
pip>=25.2
setuptools>=70.0
wheel

